{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="PetNet is the best online store for pets bla bla bla">
<meta name="author" content="PetNet Stein">
<meta property="og:title" content="PetNet | About">
<meta property="og:description" content="PetNet is the best online store for pets bla bla bla">
<meta property="og:type" content="article">
<meta property="og:url" content="http://petnet.com/about/">
{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <h5>Интернет-магазин игрушек в Алматы поможет вам в реализации детских желаний. Новые игрушки – это всегда положительные эмоции и радость для детей. Вместе с ними ребенок растет, развивается, исследует окружающий мир. С помощью игр дети осваиваются в окружающем мире, пробуют себя в разных социальных ролях. Интернет-магазин игрушек в Алматы – это быстрый и удобный способ, купить все необходимые игрушки для ваших детей.

Покупая детские игрушки, следует учитывать возраст ребенка, чтобы они подходили и были актуальными для его развития. Будет важным и выбор самого ребенка – игрушка должна понравиться ему. Ведь с игрушкой, которая не понравится, играть будет скучно, она, скорей всего, будет лежать и пылиться в дальнем углу. Магазин детских игрушек предлагает большой выбор, где можно подобрать продукцию, которая понравится каждому ребенку. Мы функционируем в Алматы, делая доставку по всему Казахстану. Реализация продукции ведется оптом и в розницу. Подробнее: https://ayutoys.kz/</h5>
{% endblock %}
